@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-3">CỔNG TIẾP NHẬN XỬ LÝ THÔNG TIN ĐÀO TẠO</h3>
    <p>Quay lại trang chủ Quản lý đào tạo <a href="https://docs.microsoft.com/aspnet/core">a</a>.</p>

    <div>
        <section>
            <div class="container">
                <div class="row text-center">
                    
                    <div  class="col border">
                        <a class="nav-link text-dark" asp-area="" asp-page="/ketquatracuu">
                        <img class="img" src="./img/Search.png" />
                        <h4 class="display-4">Tra cứu</h4>
                        <h5 class="display-5">Tra cứu kết quả xét Tốt nghiệp, phản hồi thông tin</h5>
                        </a>
                    </div>
                    
                    <div class="col border">
                        <a class="nav-link text-dark" asp-area="" asp-page="/chungnhantotnghiep">
                        <img class="img" src="./img/Certificate.png" />
                        <h4 class="display-4">Xin giấy Chứng nhận tốt nghiệp</h4>
                        <h5 class="display-5">Gửi yêu cầu cấp văn bằng tốt nghiệp do nhà trường cấp</h5>
                        </a>
                    </div>
                    <div class="col border">
                        <a class="nav-link text-dark" asp-area="" asp-page="/khieunaisaidiem">
                        <img class="img" src="./img/Duplicate.png" />
                        <h4 class="display-4">Điểm thi</h4>
                        <h5 class="display-5">Khiếu nại sai điểm thi</h5>
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col border">
                        <a class="nav-link text-dark" asp-area="" asp-page="/dangkyhoanthi">
                        <img class="img"  src="./img/Edit.png" />
                        <h4 class="display-4">Đăng ký hoãn thi</h4>
                        <h5 class="display-5">Đăng ký hoãn thi</h5>
                        </a>
                    </div>
                    <div class="col border">
                        
                        <img class="img" src="./img/Badge.png" />
                        <h4 class="display-4">Ngoại ngữ không chuyên</h4>
                        <h5 class="display-5">Nộp miễn học ngoại ngữ không chuyên hoặc đạt chuẩn</h5>
                    </div>
                    <div class="col border1">
                        <img src="" />
                        <h4 class="display-4"></h4>
                        <h5 class="display-5"></h5>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
