@page
@model ketquatracuuModel
@{
    ViewData["Title"] = "ketquatracuu page";
}

<div class="text-center">
    <h3 class="display-3">CỔNG TIẾP NHẬN XỬ LÝ THÔNG TIN ĐÀO TẠO</h3>
    <p>Quay lại trang chủ Quản lý đào tạo <a href="https://docs.microsoft.com/aspnet/core">a</a>.</p>

    <div>
        <section>
            <div class="container" style="width:auto">
                <div class="tracuumssv">
                <div class="text-wrapper-4">THÔNG TIN TRA CỨU TỐT NGHIỆP</div>
                <br />
                <div class="left">
                    <div class="form">
                            <div>
                                <div class="text-wrapper-3">THÔNG TIN SINH VIÊN</div>
                            <table>
                                    <tr>
                                        <th>Họ và tên</th>
                                        <td>Nguyễn Văn A</td>
 
                                    </tr>
                                    <tr>
                                        <th>MSSV</th>
                                        <td>2056000312</td>
                                    </tr>
                                    <tr>
                                        <th>Ngày sinh</th>
                                        <td>20/10/2023</td>
                                    </tr>
                                    <tr>
                                        <th>Giới tính</th>
                                        <td>Nam</td>
                                    </tr>
                                    <tr>
                                        <th>Dân tộc</th>
                                        <td>Kinh</td>
                                    </tr>
                                    <tr>
                                        <th>Quốc tịch</th>
                                        <td>Việt Nam</td>
                                    </tr>
                                    <tr>
                                        <th>Điểm trung bình</th>
                                        <td>8.9</td>
                                    </tr>
                                    <tr>
                                        <th>Xếp loại</th>
                                        <td>Giỏi</td>
                                    </tr>
                                    
                            </table>
                                <a class="nav-link text-dark" asp-area="" asp-page="/chinhsuatracuu">
                                <input class="tracuuinput2" type="submit" name="guiyeucau" value="Gửi yêu cầu chỉnh sửa">
                                </a>
                            </div>
                </div>
               
            </div>
           
        </section>
    </div>
</div>
