@page
@model qldsyeucauModel
@{
    ViewData["Title"] = "qldsyeucau page";
}

<div class="text-center">
    <h3 class="display-3">CỔNG TIẾP NHẬN XỬ LÝ THÔNG TIN ĐÀO TẠO</h3>
    <p>Quay lại trang chủ Quản lý đào tạo <a href="https://docs.microsoft.com/aspnet/core">a</a>.</p>

    <div>
        <section>
            <div class="container" style="width:auto">
                <div class="tracuumssv">
                <div class="text-wrapper-4">DANH SÁCH YÊU CẦU</div>
                <br />
                <div class="left">

                    
                        <!-- Tab links -->
                        <div class="tabs">
                            <button class="tablinks active" data-electronic="tatcayeucau">Tất cả yêu cầu</button>
                            <button class="tablinks" data-electronic="yeucautracuu">Chỉnh sửa tra cứu</button>
                            <button class="tablinks" data-electronic="yeucauhoanthi">Yêu cầu hoãn thi</button>
                            <button class="tablinks" data-electronic="yeucaudiemthi">Yêu cầu điểm thi</button>
                            <button class="tablinks" data-electronic="yeucaucntn">Yêu cầu cntn</button>
                        </div>

                        <!-- Tab content -->
                        <div class="wrapper_tabcontent">
                            <div id="tatcayeucau" class="tabcontent active">
                                <div class="form">
                                    <div>
                                        <table>
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Loại yêu cầu</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div id="yeucautracuu" class="tabcontent active">
                                <div class="form">
                                    <div>
                                        <table>
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Loại yêu cầu</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                           

                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div id="yeucaucntn" class="tabcontent active">
                                <div class="form">
                                    <div>
                                        <table>
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Loại yêu cầu</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>


                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div id="yeucaudiemthi" class="tabcontent active">
                                <div class="form">
                                    <div>
                                        <table>
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Loại yêu cầu</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div id="yeucauhoanthi" class="tabcontent active">
                                <div class="form">
                                    <div>
                                        <table>
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Loại yêu cầu</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            <tr>
                                                <td>Nguyễn Văn A1</td>
                                                <td>20/10/2023</td>
                                                <td>Hoãn thi</td>
                                                <td>Đã tiếp nhận</td>
                                            </tr>
                                            

                                        </table>

                                    </div>
                                </div>
                            </div>





                        </div>




                    
               
            </div>
            </div>
            </div>
           
        </section>
    </div>
</div>
