@page
@model qltranghthaicntnModel
@{
    ViewData["Title"] = "qltranghthaicntn page";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

<div class="text-center">
    <h3 class="display-3">CỔNG TIẾP NHẬN XỬ LÝ THÔNG TIN ĐÀO TẠO</h3>
    <p>Quay lại trang chủ Quản lý đào tạo <a href="https://docs.microsoft.com/aspnet/core">a</a>.</p>

    <div>
        <section class="container mt-3">
            <h4 class="fw-semibold">TÌNH TRẠNG YÊU CẦU CỦA BẠN</h4>
        </section>
        <div class="container mt-4">
            <div class="row">
                <div class="card shadow">
                    <div class="card-body">
                        <form class="msform">
                            <!-- progressbar -->
                            <div class="position-sticky" style="max-height: 6.5rem">
                                <ul class="progressbar">
                                    <li class="active stepOne">
                                        <p>Tiếp nhận</p>
                                    </li>
                                    <li class="stepTwo">
                                        <p>Chờ duyệt</p>
                                    </li>
                                    <li class="stepThree">
                                        <p>Đang xét</p>
                                    </li>
                                    <li class="stepFour">
                                        <p>Hoàn thành</p>
                                    </li>
                                    <li class="stepFive">
                                        <p>Không hoàn thành</p>
                                    </li>
                                </ul>
                            </div>
                            <!-- Có thể viết thêm style này để scroll
                                style="
                                max-height: calc(63vh);
                                overflow-y: scroll;
                                overflow-x: hidden;
                              " -->
                            <div class="fieldset-card">
                                <!-- Step 1 -->
                                <fieldset>
                                    <div class="form-card">Tiếp nhận</div>
                                    <!-- Action Space - NEXT & PREVIOUS BUTTON -->
                                    <div class="row justify-content-end px-2">
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="next"
                                                    class="btn fw-semibold btn-primary next action-button"
                                                    id="btn-next-1">
                                                Tiếp theo
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Step 2 -->
                                <fieldset>
                                    <div class="form-card">Chờ duyệt</div>

                                    <div class="row justify-content-end px-3">
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="previous"
                                                    class="btn btn-secondary previous action-button-previous">
                                                Quay lại
                                            </button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="next"
                                                    class="btn btn-primary next action-button">
                                                Tiếp theo
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Step 3 -->
                                <fieldset>
                                    <div class="form-card">Đang xét</div>

                                    <div class="row justify-content-end px-3">
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="previous"
                                                    class="btn btn-secondary previous action-button-previous">
                                                Quay lại
                                            </button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="next"
                                                    class="btn btn-primary next action-button">
                                                Tiếp theo
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Step 4 -->
                                <fieldset>
                                    <div class="form-card">Hoàn thành</div>
                                    <div class="row justify-content-end px-3">
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="previous"
                                                    class="btn btn-secondary previous action-button-previous">
                                                Quay lại
                                            </button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="next"
                                                    class="btn btn-primary next action-button">
                                                Tiếp theo
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Step 5 -->
                                <fieldset>
                                    <div class="form-card">Không hoàn thành</div>
                                    <div class="row justify-content-end px-2">
                                        <div class="col-auto">
                                            <button type="button"
                                                    name="previous"
                                                    class="btn btn-secondary previous action-button-previous">
                                                Quay lại
                                            </button>
                                        </div>

                                        <div class="col-auto ps-0">
                                            <button type="button"
                                                    name="submit"
                                                    class="btn btn-success submit">
                                                Lưu
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="form">
            <div>
                <div class="text-wrapper-3">THÔNG TIN CẤP GIẤY CHỨNG NHẬN TỐT NGHIỆP</div>
                <table>
                    <tr>
                        <th>Họ và tên</th>
                        <td>Nguyễn Văn A</td>

                    </tr>
                    <tr>
                        <th>MSSV</th>
                        <td>2056000312</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>090000000</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>20323909039@hcmussh.edu.vn</td>
                    </tr>
                    
                </table>
                <input class="tracuuinput2" type="submit" name="duyet" value="Phê duyệt">
                <input class="tracuuinput2" type="submit" name="tuchoi" value="Từ chối">
            </div>
        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
