@page
@model yeucaucuatoiModel
@{
    ViewData["Title"] = "yeucaucuatoi page";
}

<div class="text-center">
    <h3 class="display-3">CỔNG TIẾP NHẬN XỬ LÝ THÔNG TIN ĐÀO TẠO</h3>
    <p>Quay lại trang chủ Quản lý đào tạo <a href="https://docs.microsoft.com/aspnet/core">a</a>.</p>

    <div>
        <section>
            <div class="container" style="width:auto">
                <div class="tracuumssv">
                <div class="text-wrapper-4">YÊU CẦU CỦA TÔI</div>
                <br />
                <div class="left">
                    <div class="form">
                        <div>
                            <table>
                                    <tr>
                                        <th>Tên yêu cầu</th>
                                        <th>Ngày yêu cầu</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Văn A1</td>
                                        <td>20/10/2023</td>
                                        <td>Đã tiếp nhận</td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Văn A2</td>
                                        <td>20/10/2023</td>
                                        <td>Đã tiếp nhận</td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Văn A4</td>
                                        <td>20/10/2023</td>
                                        <td>Đã tiếp nhận</td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Văn A5</td>
                                        <td>20/10/2023</td>
                                        <td>Đã tiếp nhận</td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Văn A5</td>
                                        <td>20/10/2023</td>
                                        <td>Đã tiếp nhận</td>
                                    </tr>
                            </table>
                                
                    </div>
                </div>
               
            </div>
           
        </section>
    </div>
</div>
